<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <button type="button" class="btn btn-warning" id="table_view_btn"> Voters / Candidates</button>
                <button type="button" class="btn btn-danger float-right" onclick="javascript:window.location = '/admin/logout';"> Logout</button>

                <hr>
                <div id="voter_table">
                    <table class="table table-hover table-bordered table-striped">
                        <h4>Voters</h4>
                        <small>Click on the row item to verify the identity of Voter.</small>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">VoterID</th>
                                <th scope="col">Constituency</th>
                                <th scope="col">Has the voter voted?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0 ; i < voters.length; i++) { %>
                                <% if (!voters[i].can_vote) { %>
                                    <tr style="cursor: pointer;">
                                            <th scope="row">
                                                <%= i+1 %>
                                            </th>
                                            <td>
                                                <%= voters[i].name%>
                                            </td>
                                            <td id="voter_id"><%= voters[i].voter_id%></td>
                                            <td>
                                                <%= voters[i].constituency%>
                                            </td>
                                            <td>
                                                <%= voters[i].voted %>
                                            </td>
                                        </tr>
                                <% } %>
                            <% }%>
                        </tbody>
                    </table>
                </div>

                <div id="candidate_table" style="">
                    <table class="table table-hover table-bordered table-striped">
                        <h4>Candidates</h4>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Votes</th>
                                <th scope="col">Party</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0 ; i < candidates.length; i++) { %>
                                <tr>
                                    <th scope="row">
                                        <%= i+1 %>
                                    </th>
                                    <td>
                                        <%= candidates[i].name%>
                                    </td>
                                    <td>
                                        <%= candidates[i].vote_count %>
                                    </td>
                                    <td>
                                        <%= candidates[i].party%>
                                    </td>
                                </tr>
                                <% }%>
                        </tbody>
                    </table>

                    

                </div>

            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
    </body>

    </html>